html{
  scroll-behavior: smooth;
}

body{
background-color: #ddd;
font-size: 18px;
margin: 0;
padding: 0;
}

h1{
font-size: 50px;
line-height: 1;
padding: 50px 0;
text-align: center;
}

h2{
font-size: 32px;
line-height: 1.5;
}

nav ul{
list-style-type: none;
}

nav li{
padding-right: 20px;
float: left;
}

nav a{
color: black;
font-weight: bold;
text-decoration: none;
}

nav a:hover{
text-decoration: underline;
}

.skip a{
background: white;
left: 0;
padding: 6px;
position: absolute;
top: -40px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;
}

.skip a:focus{
top:0;
}

/*Your code here*/{
/*Add the selector and code to put a 2px black border around all elements in focus.*/
}


footer{
background-color: black;
color: white;
grid-column: 1 / -1;  /*Can you explain what this does?*/
grid-row: 7 / auto;   /*Can you rewrite it?*/
padding-top: 30px;
text-align: center;
}


.container{

display: grid;
grid-template-columns: 100px 500px 100px;
grid-row-gap: 15px;

/*Provided*/
grid-template-rows: 30px auto auto auto auto auto 100px;
width: 100vw; 
}

.nav{

grid-column-start: 1;
grid-column-end: 4;

/*Provided*/
background-color: #ddd;
padding: 20px 0; 
text-align: left; 
}

header{
background-attachment: fixed; /* Parallax effect */
background-image: url("../images/header.jpg");      /* Your code here - Link to header.jpg in the images folder */
background-position: center;  /* Parallax effect */
background-repeat: no-repeat; /* Parallax effect */
background-size: cover;       /* Parallax effect */
color: white;
height: 400px;                /* Parallax effect */

/*Your code here - cover the entire row*/
}

header p{
color: white;
font-size: 24px;
padding: 0 100px;
text-align: center;
}

.about-image{
/*Your code here */

}

.about{
/*Your code here */
}

.method-image{
/*Your code here */
}

.method{
  /*Your code here - start in the 2nd column*/
}

.clients-image{
/*Your code here */
}

.clients{
/*Your code here */
}

.contact-image{
 /*Your code here */
}

.contact{
 /*Your code here */
}

.text-block{

align-self: center;
justify-self: center;
padding: 30px;
 /*Your code here */

background-color: rgba(255, 255, 255, .8);
border: 10px solid black;
padding: 30px;
}



@media /*Your code here - Add the first media query.*/{

.container{
  /*Your code here */
  grid-template-rows: 70px 400px 400px 400px 400px 400px 100px;*/
}

.nav{
  background-color: #ddd;

   /*Your code here */
}

.about-image{
   /*Your code here */
  }

.about{
  /*Your code here */
}

.method-image{
  /*Your code here */
}

.method{
  /*Your code here */
}

.clients-image{
  /*Your code here */

}

.clients{
  /*Your code here */
}

.contact-image{
  /*Your code here */
}

.contact{
  /*Your code here */
 }

}  /*End the media query*/

@media screen and (prefers-reduced-motion: reduce){
html{
    scroll-behavior: auto; /* Removes scroll animation */
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: 	all 0s ease 0s;
  transition: 	all 0s ease 0s;
  z-index: 1;
}

.skip a:focus{
  top:0;
}
}
